<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
        <li><a href="#dendo"><span class="glyphicon-tree-deciduous"></span>Dendogram</a></li>
        <li><a href="#bar"><span class="glyphicon glyphicon-barcode"></span>BarGraph</a></li>
    </ul>
  </div>
</nav>
