<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <ul>
        <li><a href="#dendo">Dendogram</a></li>
        <li><a href="#bar">BarGraph</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
      </ul>
    </ul>
  </div>
</nav>
