<!DOCTYPE html>
<html>
<body>
  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Insurance Policy Strategy</h1>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <img src="/bargraph.PNG" alt="Mountain View" style="width:304px;height:228px;">
  </div>
  <hr>
  <div class="alert alert-info text-center" role="alert">
    <img src="/dendogram.PNG" alt="Mountain View" style="width:304px;height:228px;">
  </div>
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>


</body>
</html>
